.detail-wrapper {
    padding: 20px 0 50px;
    
}
.detail-block {
    display: grid;
    grid-template-columns: 1fr 255px;
    grid-gap: 40px;
    padding: 15px;
}
.detail-left {
    max-width: 815px;
}
.categories-navbar {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
}
.category-navbar {
    position: relative;
    padding: 0 20px;
    line-height: 2;
}
.category-navbar::before {
    position: absolute;
    content: "\2044";
    font-size: 1.5rem;
    color: #246cb6;
    top: -14px;
    left: -25px;
    padding: 0 10px;
}
.category-navbar:first-child:before {
    content: '';
}
.detail-title {
    line-height: 1.5;
}
.detail-public {
    color: #68647a;
    text-decoration: underline;
    margin-bottom: 30px;
}
.detail-public span + span {
    margin-left: 15px;
}
.detail-content {
    line-height: 1.7;
}
.detail-content p {
    margin-bottom: 20px;
}
.detail-content figure figcaption {
    background: #f7f7f7;
    text-align: center;
    padding: 0.625rem 0.9375rem;
    font-size: 15 !important;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.25rem;
    font-family: "Roboto", sans-serif;
    color: #000;
    margin-bottom: 1.25rem;
}
.detail-content strong {
    font-weight: bold;
}
.related-post {
    margin: 30px 0 40px;
    padding: 30px;
    background-color: #f7f7f7;
}
.related-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.related-post__item {
    flex: 50% 0 0;
    padding: 0 10px;
    border-right: 1px solid #ebebeb;
    position: relative;
    line-height: 1.5;
}
.related-post__item:last-child {
    border-right: none;
    padding-right: 0;
}
.related-post__item:first-child,
.related-post__item:last-child {
    position: relative;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.related-post__item:first-child::before {
    position: absolute;
    content: '\2190';
    left: -10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.related-post__item:last-child::after {
    position: absolute;
    content: '\2192';
    margin-left: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.related-post__item:first-child:hover::before{
    left: -15px;
}
.related-post__item:last-child:hover::after{
    margin-left: 15px;
}
.form-control {
    width: 100%;
    color: #767676;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    height: 50px;
    padding: 4px 20px;
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.form-control:focus {
    border-color: #000;
}
.form-control-textarea {
    height: 120px;
    padding: 15px 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.form-submit {
    background-color: #246cb6;
    border: 1px solid #246cb6;
}
input[type="submit"] {
    position: relative;
    display: inline-block;
    font-family: "Averta-Bold", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    padding: 12px 34px;
    color: #fff;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: transparent;
    color: #246cb6;
}