// tablet and mobile
@media (max-width: 64em) {
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .nav-header__right,
  .navigation-bar-list {
    display: none;
  }
  .main-features,
  .main-panel,
  .main-container,
  .tab-pane-container {
    display: block;
  }
  .navigation-bar-mb {
    display: flex;
  }
  .footer-map iframe {
    width: 100% !important;
    height: auto;
}
.nav-header__left-item {
  font-size: 0.75rem;
  padding: 0 0 0 0.625rem;
}

.nav-header__left-icon {
  color: #f1c40f;
    background: transparent;
    font-size: 0.625rem;
    width: auto;
    height: auto;
}
.working-time {
  left: auto;
  right: 0;
}
.nav-header__left-item:hover span {
  color: inherit;
}
.nav-header__left-item:hover .nav-header__left-icon {
  background: transparent;
}
.navigation-bar {
  padding: 13px 15px;
}
.navigation-bar__logo-img {
  height: 54px;
}
.slide-top__img {
  height: 560px;
}
.main-features-item:hover {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.slide-one .slick-slide {
  margin: 15px;
}
.main-features-item__text {
  font-size: 14px;
}
.main-features-item__img {
  margin: 30px auto;
}
.main-panel {
  padding: 0;
}
.main-panel-item__text {
  font-size: 16px;
}
.main-team-doctors-wrapper {
  padding: 80px 15px;
}
.tab-pane__text {
  margin-top: 50px;
}
.tab-pane__img {
  width: 100%;
  height: auto;
}
.tabs {
  padding: 0.9375rem 40px;
}
.tabs .tab-item {
  margin-bottom: 30px;
}
.tabs .slick-slide + .slick-slide {
  margin-left: 0;
}
.tabs .slick-slide {
  margin-right: 40px;
}
.tabs .slick-current .tab-item::before {
  bottom: -7px;
}
.tabs .slick-current .tab-item::after {
  bottom: -17px;
}

#footer {
  padding: 0 15px 15px 20px;
}
.footer-navbar-item + .footer-navbar-item {
  margin-left: 0;
}
.footer-navbar-item {
  padding: 8px 5px;
}
.main-choose-us-wrapper {
  padding-top: 50px;
}
.footer-social {
  display: none;
}
  /*============================================================================     cate*/
  .cate-block {
    display: block;
  }
  .cate-left-item__img {
    width: 40%;
}
  // ==================================================================================detail
  .detail-block {
    display: block;
  }
}

@media (max-width: 63.9375em) {
}

// tablet
@media (min-width: 46.25em) and (max-width: 64em) {
}

// mobile
@media (max-width: 46.1875em) {
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
}
@media (max-width: 20em) {
}
